[defaults]
retry_files_enabled = False
stdout_callback = yaml
#default_debug=True
export ANSIBLE_DEBUG=True
default_verbosity=4
interpreter_python=python3
vault_password_file = .Vault_Pass.txt
nocows=1

[connection]
pipelining = True

[persistent_connection]

# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 120

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 30 second.
command_timeout = 120
